.btn {
  color: #006496;
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  background-color: #343330;
}

li {
  list-style: none;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

main section {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

main section:not(.backgrounded) {
  padding-bottom: 2rem;
}

main .backgrounded {
  background-color: #f79424;
  color: #d6d6d6;
  margin-bottom: 4.5rem;
}

main .backgrounded::before {
  content: "";
  display: block;
  width: 100vw;
  z-index: 0;
  background-color: #f79424;
  height: 150px;
}

main .backgrounded::after {
  content: "";
  display: block;
  position: absolute;
  height: 225px;
  width: 100vw;
  background-color: #f79424;
  z-index: -1;
}

.intro {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #343330;
}

.intro__title {
  font-family: "Audiowide", cursive;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: #f79424;
}

.intro__content {
  color: #d6d6d6;
}

.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  border: 1px solid #cecece;
  background: white;
  padding: 4rem 0.5rem 3rem;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

.card:first-child {
  border-radius: 10px 10px 0 0;
}

.card:last-child {
  border-radius: 0 0 10px 10px;
}

.card:first-child:last-child {
  border-radius: 10px;
}

.card__header, .card__aside, .card__content {
  text-align: center;
}

.card__header {
  padding: 3.5rem 1rem 0rem;
  margin-top: 0;
}

.card__subtitle {
  min-height: 10rem;
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.card__title {
  padding-bottom: 1.5rem;
  font-size: 1.6rem;
}

.card__content {
  font-size: 1.2rem;
}

.card__faicon {
  font-size: 3rem;
  color: #05beec;
}

.card .list:not(:last-child) {
  margin-bottom: 2.5rem;
}

.altcard {
  color: #000000ce;
  padding: 3rem 0.75rem;
}

.altcard__header, .altcard__body {
  text-align: center;
}

.altcard__header {
  margin-bottom: 2rem;
}

.altcard__content {
  max-width: 478px;
  margin: 0 auto;
  font-size: 1.2rem;
}

.altcard__title {
  font-size: 1.75rem;
}

.list__item {
  font-size: 1.2rem;
  padding-left: 2.5rem;
}

.list__title {
  color: #006496;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.list__icon {
  color: #006496;
  width: 2.5rem;
  font-size: 1.75rem;
}

.burger {
  position: fixed;
  z-index: 3;
  left: 1.25rem;
  top: 1rem;
  font-size: 1.25rem;
}

.burger__icon {
  color: rgba(255, 255, 255, 0.527);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.507);
}

.nav {
  position: fixed;
  background-color: #ce6f04;
  height: 100vh;
  width: 80vw;
  padding-top: 6rem;
  opacity: 97%;
  left: -100%;
  -webkit-transition: left 0.75s;
  transition: left 0.75s;
}

.nav__link {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  display: block;
  text-align: center;
  height: 15vh;
}

.nav.open {
  left: 0;
}

@media screen and (min-width: 576px) {
  .burger {
    display: none;
  }
  .nav {
    position: fixed;
    background-color: #ce6f04;
    height: unset;
    width: 100vh;
    padding-top: 0rem;
    opacity: 1;
    left: 0;
    top: 0;
    -webkit-transition: left 0.75s;
    transition: left 0.75s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    display: inline;
  }
  .nav__link {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    display: inline;
    text-align: center;
    height: unset;
  }
  .altcard__title {
    font-size: 2.2rem;
  }
  .altcard__content {
    font-size: 1.3rem;
  }
  .card {
    border-radius: 0;
  }
  .card:first-child {
    border-radius: 10px 0px 0px 0px;
  }
  .card:nth-child(1n) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
  .card:nth-child(1n):last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .card:nth-child(2n) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    border-radius: 0px 10px 0px 0px;
  }
  .card:nth-child(2n):last-child {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7/13;
    border-radius: 0px 0px 10px 0px;
  }
  .card:nth-child(1):nth-last-child(2) {
    border-radius: 10px 0px 0px 10px;
  }
  .card:nth-child(2):last-child {
    border-radius: 0px 10px 10px 0px;
  }
  .card .list {
    min-height: 12rem;
  }
}

@media screen and (min-width: 478px) {
  .altcard__title {
    font-size: 2.2rem;
  }
  .altcard__content {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=portfolio.css.map */